<section data-ng-controller="HomeController">
	
	<div class="jumbotron text-center" data-ng-if="!authentication.user">
		Welcome to ItechArt Chat application
	</div>
			
	<div class="jumbotron text-center" data-ng-if="authentication.user">
		<div class="row">
			TODO: Show messages
		</div>
		<br>
		<div class="row">
			<textarea placeholder="Type a message here"></textarea>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="#">Send message</a>
			</p>
		</div>
	</div>
</section>