<div data-ng-controller="PublicMessagesController">
<div class="row messages-container" schroll-bottom="allMessages">
	<div class="col-md-12 text-center">
		<table class="messages-list table table-striped">
			<tr ng-repeat="message in allMessages | orderBy: 'postDate'">
				<td class="author">
					<a href="/#!/messages/private" data-ng-bind="message.createdByUserName"></a>
				</td>
				<td class="message-text">
					<a href="/#!/messages/private" data-ng-bind="message.createdByUserName"></a>
					<br/>
					<span> Message: {{message.message}}</span>
				</td>
				<td class="post-date">
					<span>{{message.postDate | date:'EEEE, MMMM d, yyyy h:mm a'}}</span>
				</td>
			</tr>
		</table>
	</div>
</div>
<br>
<form name="inputMessageForm" data-ng-submit="sendMessage()" class="form-horizontal" novalidate autocomplete="off">
<div class="row">
	<textarea class="input-message-area" type="textarea" placeholder="Type a message here" data-ng-model="newMessage.message"></textarea>
	<br/>
	<button type="submit" class="btn btn-large btn-primary">Send message</button>
</div>
</form>
</div>